{% extends 'base.html' %}

{% block content %}
  <div class="">
    <div class=" flex items-center justify-center relative z-10 p-20 bg-auto  aligned-center bg-no-repeat bg-cover bg-center min-h-screen bg-[url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')]">
      <div class="text-center absolute inset-0  z-10">
         
        <div id="home" class=" p-20 relative z-20">
        
          <img class="h-40 w-0" src="../static/logocapif2.png" alt="">
          <h1 class=" text-4xl  sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl text-white roboto-light ">CAPIF</h1>
          <hr class="my-6 border-white sm:mx-auto dark:border-white lg:my-8" />
            <h1 class="text-xl   text-white  sm:text-xl md:text-3xl lg:text-4xl xl:text-4xl roboto-light ">
                
                 Centro de atención psicológica infantil y familiar
            </h1>
            
            <h1 class="text-xl   text-white  sm:text-xl md:text-3xl lg:text-4xl xl:text-4xl roboto-light ">
                <p > Un lugar donde tu salud mental es nuestra mayor prioridad.</p>
        </div>
      </div>
    </div>

    <!-- Sobre nosotros-->
    <div class="container mx-auto p-6">
        <h1 class="text-gray-600 text-3xl md:text-4xl lg:text-5xl font-semibold text-center mb-10">Sobre nosotros</h1>
        <div class="grid md:grid-cols-2 gap-8 items-center">
            <div class="space-y-4">
                <p class="text-gray-600 text-base md:text-lg">Somos un centro con especialistas para otorgar atenciones pedagógicas y psicológicas a niños con dificultades en el lenguaje, atención, aprendizaje, conducta y manejo de emociones. También contamos con especialistas en el tema familiar y de pareja, así como la atención individual de adultos con dificultades emocionales. Nuestro enfoque terapéutico es el cognitivo conductual con especialidad en terapia breve sistémica.</p>
                <p class="text-gray-600 text-base md:text-lg">Iniciamos en el 2005 y desde entonces hemos obtenido un crecimiento en infraestructura, experiencias y en conocimiento, para ser actualmente una excelente opción para el correcto diagnóstico y la adecuada atención de todas las dificultades que se presentan en los pacientes que atendemos y a precios accesibles.</p>
            </div>
            <div class="mb-6 flex justify-center">
                <img class="rounded-lg shadow-lg opacity-75" src="https://scontent.fntr1-2.fna.fbcdn.net/v/t39.30808-6/349117249_3516833495272900_2394019545923577595_n.jpg?stp=cp6_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHLGHWUZzYRs8LbgYmUZ_qOb_XABkr1raxv9cAGSvWtrNJpU2pny65vWu8yEhPEOwjLv3Mm86kPrl870J6Slt1G&_nc_ohc=qom355Td87kAb6OLQXe&_nc_ht=scontent.fntr1-2.fna&oh=00_AfAIZ5gGMQ71Ya4xR2B3L_Nj02D7o-8J3HB-f1R-VuOUpQ&oe=66239DD3" alt="Equipo de CAPIF" style="max-width:100%;height:auto;">

            </div>
        </div>
    </div>
    
      
    
      


    <!---Servicios--->
    <div id="" class="bg-white text-white">
        <div class="container px-5  mx-auto ">
            <div class="flex  flex-col  w-full mb-20 flex items-center justify-center">
              <hr class="border-white bg-white border-t ">
              <h1 class="text-gray-600 text-3xl md:text-4xl lg:text-5xl font-semibold text-center mb-10">Servicios</h1>
            </div>
            <div class="flex flex-wrap -m-7 text-gray-600">
              <div class="lg:w-1/3 w-2/2 p-4">
                <div class="max-w-sm  overflow-hidden rounded-lg  shadow-lg">
                    <img class="w-full" src="https://images.pexels.com/photos/289586/pexels-photo-289586.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2">Psicología</div>
                      <p class="text-gray-600  text-base">
                        Brindamos terapia psicológica personalizada, apoyando a nuestros clientes en la superación de desafíos emocionales, psicológicos y sociales, promoviendo su bienestar afectivo y mental.
                      </p>
                    </div>
                  </div>
              </div>
        
              <div class="lg:w-1/3 w-2/2 p-4">
                <div class="max-w-sm  overflow-hidden rounded-lg  shadow-lg">
                    <img class="w-full" src='https://images.pexels.com/photos/7114755/pexels-photo-7114755.jpeg?auto=compress&cs=tinysrgb&w=600'>
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2">Conducta</div>
                      <p class="text-gray-600 text-base">
                        Nos especializamos en terapias conductuales, ayudando a individuos a modificar comportamientos problemáticos y a desarrollar habilidades sociales.
                      </p>
                    </div>
                  </div>
              </div>
        
              <div class="lg:w-1/3 w-2/2 p-4">
                <div class="max-w-sm  overflow-hidden rounded-lg  shadow-lg">
                    <img class="w-full" src="https://images.pexels.com/photos/5063562/pexels-photo-5063562.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2">Evaluaciones Neuropsicológicas</div>
                      <p class="text-gray-600 text-base">
                        Realizamos evaluaciones exhaustivas para comprender y abordar condiciones neurológicas, mejorando así la capacidad cognitiva.
                      </p>
                    </div>
                    
                </div>
              </div>
        
              
             
              
          </div>
      
       
      
    </div>
    <!--Equipo-->
    <div class="container mx-auto px-4 py-8">

        <div class="flex  flex-col  w-full mb-20 flex items-center justify-center">
            <hr class="border-white bg-white border-t ">
            <h1 class="text-gray-600 text-3xl md:text-4xl lg:text-5xl font-semibold text-center mb-10">Nuestro Equipo</h1>
          </div>
        <div class="flex flex-wrap justify-center">
          <!-- Primera Tarjeta de miembro del equipo -->
          <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md m-2">
            <div class="flex justify-center pt-6">
              <img class="rounded-full h-32 w-32 object-cover" src="tu_url_de_imagen_aquí.jpg" alt="Nombre del miembro del equipo">
            </div>
            <div class="p-5">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Nombre del Miembro</h5>
              <p class="mb-3 font-normal text-gray-700">Cargo o Especialidad del miembro.</p>
              <p class="mb-3 font-normal text-gray-700">Una breve descripción o bio.</p>
              <!-- Incluir aquí más detalles o botones si se desea -->
            </div>
          </div>
          <!--Segunda Tarjeta-->
          <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md m-2">
            <div class="flex justify-center pt-6">
              <img class="rounded-full h-32 w-32 object-cover" src="tu_url_de_imagen_aquí.jpg" alt="Nombre del miembro del equipo">
            </div>
            <div class="p-5">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Nombre del Miembro</h5>
              <p class="mb-3 font-normal text-gray-700">Cargo o Especialidad del miembro.</p>
              <p class="mb-3 font-normal text-gray-700">Una breve descripción o bio.</p>
              <!-- Incluir aquí más detalles o botones si se desea -->
            </div>
          </div>
            <!--Tercera Tarjeta-->
          <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md m-2">
            <div class="flex justify-center pt-6">
              <img class="rounded-full h-32 w-32 object-cover" src="tu_url_de_imagen_aquí.jpg" alt="Nombre del miembro del equipo">
            </div>
            <div class="p-5">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Nombre del Miembro</h5>
              <p class="mb-3 font-normal text-gray-700">Cargo o Especialidad del miembro.</p>
              <p class="mb-3 font-normal text-gray-700">Una breve descripción o bio.</p>
              <!-- Incluir aquí más detalles o botones si se desea -->
            </div>
          </div>
            <!--Cuarta Tarjeta-->
            <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md m-2">
                <div class="flex justify-center pt-6">
                  <img class="rounded-full h-32 w-32 object-cover" src="tu_url_de_imagen_aquí.jpg" alt="Nombre del miembro del equipo">
                </div>
                <div class="p-5">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Nombre del Miembro</h5>
                  <p class="mb-3 font-normal text-gray-700">Cargo o Especialidad del miembro.</p>
                  <p class="mb-3 font-normal text-gray-700">Una breve descripción o bio.</p>
                  <!-- Incluir aquí más detalles o botones si se desea -->
                </div>
              </div>
          <!-- Repetir por cada miembro del equipo -->
        </div>
      </div>
      

    
    
    <!--Ubicacion-->
    <div id="tool" class="container px-5 py-14 mx-auto text-center">
        <hr class="border-white  border-t  ">  
        <h1 class="text-gray-600 text-3xl md:text-4xl lg:text-5xl font-semibold text-center mb-10">Contactanos</h1>
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <!-- Columna para contenido adicional -->
                <div class="p-4 bg-gray-600  shadow-lg rounded-lg flex flex-col items-center text-center ">
                    <h2 class="font-bold text-xl mb-2">Información de Contacto</h2>
                    <p>Si tienes alguna consulta o necesitas más información, no dudes en contactarnos,todas las atenciones las programamos previa cita</p>
                    <ul class="mt-4 w-full">
                      <li class="flex justify-center items-center mb-2">
                        <strong class="mr-2">WhatsApp</strong>
                        <a href="https://api.whatsapp.com/send?phone=8114749096">
                          <img class="h-10 w-10" src="../static/whatsapp.png" alt="WhatsApp">
                        </a>
                      </li>
                      <li class="flex justify-center items-center">
                        <strong class="mr-2">Facebook</strong>
                        <a href="https://www.facebook.com/capifmty">
                          <img class="h-10 w-10" src="../static/facebook.png" alt="Facebook">
                        </a>
                      </li>
                    </ul>
                  </div>
                  
                <!-- Columna para Google Maps -->
                <div class="relative w-full overflow-hidden" style="padding-top: 56.25%;"> <!-- 16:9 Aspect Ratio -->
                    <iframe class="absolute top-0 left-0 w-full h-full border-0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJh_zha_OWYoYRnQFRd4bjfbg&key=AIzaSyDxqdIu0Por3CI5sAM7YanyqM-GaaEq_JE" loading="lazy" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        

      </div>


  </div>
{% endblock %}

